<div class="list-items-page__container">
  <div class="list-items-page__header">
    <h4><span>Shoppingify</span> allows you take your shopping list wherever you go</h4>
    <div class="p-input-icon-left input-field">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="search item"/>
    </div>
  </div>
</div>
<div class="list-items-page__items-groups">
  <div class="items-group">
    <h5 class="items-group_title">Fruits and Vegetables</h5>
    <div class="items-group_units">
      <p-chip styleClass="unit-chip">
        <p>Avocado</p>
        <i class="pi pi-plus"></i>
      </p-chip>
      <p-chip styleClass="unit-chip">
        <p>Pre-cooked
          corn 450g</p>
        <i class="pi pi-plus"></i>
      </p-chip>
    </div>
  </div>
</div>
