<div *ngIf="item" class="item-details__container">
  <p-button (onClick)="onBack()" icon="pi pi-arrow-left" iconPos="left" label="back"
            styleClass="p-button-link"></p-button>
  <div class="item-details__content">
    <img [src]="item.imageURL" alt="item image" class="item-details__image">
    <div class="item-details__content_info-group">
      <p>name</p>
      <p class="item-name">{{item.name}}</p>
    </div>
    <div class="item-details__content_info-group">
      <p>category</p>
      <p>{{item.categoryId}}</p>
    </div>
    <div class="item-details__content_info-group">
      <p>note</p>
      <p>{{item.description}} </p>
    </div>
    <div class="item-details__content_actions">
      <p-button label="delete" styleClass="p-button-link"></p-button>
      <p-button label="Add to list" class="btn-default"></p-button>
    </div>
  </div>
</div>
