<div class="menu-sidebar__wrapper">
  <img src="../../../../../assets/images/logo.svg" alt="logo"/>

  <ul class="menu-sidebar__links">
    <li class="menu-sidebar__links_item">
      <a>
        <i class="pi pi-list"></i>
      </a>
    </li>

    <li class="menu-sidebar__links_item">
      <a>
        <i class="pi pi-replay"></i>
      </a>
    </li>
    <li class="menu-sidebar__links_item">
      <a>
        <i class="pi pi-chart-bar"></i>
      </a>
    </li>
  </ul>
  <button class="btn btn-icon cart-btn">
    <p-badge value="4" styleClass="cart-count"></p-badge>
    <i class="pi pi-shopping-cart"></i>
  </button>
</div>
