<div class="user-shopping-list__container">
  <app-new-item-banner (onAddingItem)="addNewItem()"></app-new-item-banner>
  <div class="user-shopping-list__content">
    <div class="user-shopping-list__content_title">
      <h2>My Shopping List</h2>
      <p-button icon="pi pi-pencil" class="edit-btn" (click)="toggleEditMode(true)"></p-button>
    </div>
    <div class="user-shopping-list__content_items-list">
      <app-shopping-list-item
        [isEditMode]="isEditMode"
        [listOfShoppingItems]="listOfShoppingItems">
      </app-shopping-list-item>
    </div>
  </div>
  <div class="user-shopping-list__footer">
    <div class="p-inputgroup" *ngIf="isEditMode">
      <input type="text" pInputText placeholder="list name"/>
      <button type="button" pButton label="Save"></button>
    </div>
    <div class="footer-actions" *ngIf="!isEditMode">
      <p-button label="Cancel" styleClass="p-button-link"></p-button>
      <p-button label="Complete" class="btn-default complete-btn"></p-button>
    </div>
  </div>
</div>
