.user-shopping-list {
  &__container {
    background-color: #FFF0DE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    padding: 0 35px;
    max-height: 360px;

    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      h2 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: #34333A;
      }

      p-button {
        button {
          background: transparent !important;
          border: none !important;
          box-shadow: none !important;
          outline: none !important;
          color: #34333A !important;
          padding: 0 !important;
          height: fit-content !important;

          &:hover {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
            outline: none !important;
            color: #34333A !important;
          }
        }

      }
    }

    &_items-list {
      display: flex;
      flex-direction: column;
      gap: 50px;
      max-height: 275px;
      overflow-y: scroll;
      padding: 0 3px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__footer {
    height: 130px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: auto;

    .p-inputgroup {
      input {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #BDBDBD;
        border: 2px solid #F9A109;
        border-radius: 12px 0 0 12px;

      }

      .p-button {
        background-color: #F9A109;
        border: none;
        border-radius: 0 12px 12px 0;
      }
    }

    .footer-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      .btn-default {
        button {
          background: #56CCF2 !important;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;

          &:hover {
            border: none !important;
            box-shadow: none !important;
            outline: none !important;
            color: #FFFFFF !important;
          }
        }
      }
    }
  }
}
