.user-shopping-list {
  &__container {
    background-color: #FFF0DE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__new-item-banner {
    background-color: #80485B;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 18px 25px;
    border-radius: 25px;
    margin: 45px 45px 40px;
    img {
      position: absolute;
      top: -20px;
      left: 0;
    }
    .actions-wrapper {
      display: flex;
      flex-direction: column;
      width: fit-content;
      font-size: 16px;
      color: #fff;
      font-weight: 700;
      line-height: 20px;
      right: 0;
      gap: 13px;
      p {
        max-width: 160px;
        margin:0;
      }
      button {
        padding: 11px 29px !important;
        height: 40px;
        font-size: 14px;
        width: fit-content;
        border-radius: 12px;
        background-color: #fff;
        color: #34333A;
        font-weight: 700;
        border: none;
      }
    }
  }

  &__content {
    padding: 0 35px;
    max-height: 360px;
    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      h2 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: #34333A;
      }
      p-button {
        button {
          background: transparent !important;
          border: none !important;
          box-shadow: none !important;
          outline: none !important;
          color: #34333A !important;
          padding: 0 !important;
          height: fit-content !important;
          &:hover {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
            outline: none !important;
            color: #34333A !important;
          }
        }

      }
    }
    &_items-list {
      display: flex;
      flex-direction: column;
      gap: 50px;
      max-height: 275px;
      overflow-y: scroll;
      padding: 0 3px;
      &::-webkit-scrollbar {
        display: none;
      }
      .list-item {
        display: flex;
        flex-direction: column;
        gap: 25px;
        h4 {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #828282;
        }
        .item {
          display: flex;
          justify-content: space-between;
          gap: 8px;
          &-checkbox {
            display: flex;
            flex-direction: row;
            gap: 16px;
            p-checkbox {
              display: block !important;
            }
            .p-checkbox-focused {
              box-shadow: none !important;
              outline: none !important;
            }
            .p-checkbox {
              .p-checkbox-box {
                border: 2px solid #F9A109 !important;
                border-radius: 5px !important;
                width: 24px !important;
                height: 24px !important;
                background: transparent !important;
              }
              .p-checkbox-icon {
                color: #F9A109 !important;
              }
            }
          }
          &-name {
            font-weight: 500;
            font-size: 18px;
            color: #000000;
            margin-bottom: 0;
          }
          &-quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #F9A109;
            border-radius: 24px;
            height: 32px;
            width: 68px;
            span {
              color: #F9A109;
              font-weight: 700;
              font-size: 12px;
              line-height: 15px;
            }
          }
          &-quantity-edit {
            display: flex;
            background-color: #fff;
            height: fit-content;
            border-radius: 12px;
            max-width: 175px;
            gap: 5px;
            .p-button.p-button-icon-only {
              height: fit-content !important;
              padding: 10px;
              width: fit-content !important;
              &.delete-btn {
                background: #F9A109 !important;
                border: none !important;
                box-shadow: none !important;
                outline: none !important;
                color: #fff !important;
                border-radius: 12px;
                &:hover {
                  background-color: transparent !important;
                  border: none !important;
                  box-shadow: none !important;
                  outline: none !important;
                  color: #34333A !important;
                }
              }

            }
          }
          p-inputnumber {
            width: 173px;
            height: 45px;
            border: none;
            background: #FFFFFF;
            border-radius: 0 12px 12px 0;
            .p-inputnumber {
              align-items: center;
              gap: 15px;
            }
            .p-inputnumber-input {
              background-color: #fff;
              color: #F9A109;
              font-weight: 700;
              font-size: 12px;
              line-height: 15px;
              border: 2px solid #F9A109;
              border-radius: 24px;
              height: 32px;
              width: 68px;
            }
            .p-inputnumber-button {
              border: none;
              background: transparent;
              color: #F9A109;
              font-size: 12px;
              padding: 0 !important;

            }
          }
        }
      }
    }
  }
  &__footer {
    height: 130px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: auto;
    .p-inputgroup {
      input {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #BDBDBD;
        border: 2px solid #F9A109;
        border-radius: 12px 0 0 12px;

      }
      .p-button {
        background-color: #F9A109;
        border: none;
        border-radius: 0 12px 12px 0;
      }
    }
  }
}
