//fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
//components
@import "./assets/styles/components/forms.scss";
@import "./assets/styles/components/buttons.scss";

//icons
@import "primeicons/primeicons.css";
// variables
@import "./assets/styles/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif !important;
}

body {
  margin: 0;
  position: relative;
  p {
    margin-bottom: 0;
  }
}
