<div class="login-page__container">
  <div class="login-page__logo-wrapper">
    <img src="assets/images/logo.svg"/>
    <h3>Shoppingify allows you take your shopping list wherever you go</h3>
  </div>
  <form class="input-group" [formGroup]="loginForm">
    <div class="input-field" [ngClass]="{'ng-invalid': getFormValidationErrors(loginForm.controls['email'])}">
      <label for="email">Email</label>
      <input pInputText id="email" formControlName="email"/>
      <p class="p-error" *ngIf="getFormValidationErrors(loginForm.controls['email'])">
        {{getFormValidationErrors(loginForm.controls['email']) == 1 ? 'Email is required' : 'Email is invalid'}}
      </p>
    </div>
    <div class="input-field" [ngClass]="{'ng-invalid': getFormValidationErrors(loginForm.controls['password'])}">
      <label for="password">Password</label>
      <input pInputText id="password" type="password"
             formControlName="password" />
      <p class="p-error" *ngIf="getFormValidationErrors(loginForm.controls['password'])">
        {{getFormValidationErrors(loginForm.controls['password']) == 1 ? 'Password is required' : 'Password is invalid'}}
      </p>
    </div>
    <p-button label="Login" styleClass="btn-default" (onClick)="onLogin()" [disabled]="loginForm.invalid"></p-button>
  </form>
</div>
