<div class="login-page__container">
  <div class="login-page__logo-wrapper">
    <img src="assets/images/logo.svg"/>
    <h3>Shoppingify allows you take your shopping list wherever you go</h3>
  </div>
  <form class="input-group">
    <div class="input-field">
      <label for="email">Email</label>
      <input pInputText id="email" placeholder="Enter your email"/>
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <input pInputText id="password" placeholder="*******" type="password"/>
    </div>
    <p-button label="Login" styleClass="btn-default"></p-button>
  </form>
</div>
