:root {
  // Primary Colors
  --orange: #F9A109;
  --light-orange: #FFF0DE;
  --dark-red: #80485B;

  // Neutral Colors
  --dark-grey: #34333A;
  --light-grey: #BDBDBD;
  --lighter-grey: #C1C1C4;
  --black: #333333;

  --metal-300: #3b4242;
  --metal-400: #252a2a;
  --metal-500: #1b1f1f;

  --white-300: #eeeeee;
  --white-400: #f3f1f1;
  --white-500: #d4d4d4;
  --white-600: #e8e8e8;
  --white-700: #a1a1a1;
  --white-800: #ffffff;

  --grey-400: #828282;
  --grey-500: #454545;

  --dark-500: #0c0e0e;
  --dark-700: #0a1726;
  --dark-800: #141717;
  --dark-900: #000000;

  --red-200: #ff907e;
  --red-500: #eb2027;
  --red-600: #ff2d17;

  --blue-200: #d5e5e8;
  --blue-300: #afe0e7;
  --blue-400: #85cddc;
  --blue-500: #0a8db1;
  --blue-700: #2f5a66;
}
