<div class="new-item-form__container">
  <h3>Add a new item</h3>
  <form [formGroup]="itemForm">
    <div class="input-group">
      <label>Name</label>
      <input formControlName="name" pInputText placeholder="Enter a name"/>
    </div>
    <div class="input-group">
      <label>Note (optional)</label>
      <textarea cols="30" formControlName="description" id="float-input" pInputTextarea placeholder="Enter a note"
                rows="5"></textarea>
    </div>
    <div class="input-group">
      <label>Image (optional)</label>
      <input *ngIf="imageURL" formControlName="imageURL" pInputText/>
      <p-fileUpload #fileUpload (uploadHandler)="onUpload($event, fileUpload)" [customUpload]="true"
                    chooseLabel="Choose" mode="basic"></p-fileUpload>
    </div>
    <div class="input-group categories-dropdown">
      <label>Category</label>
      <p-dropdown [options]="categories || []" formControlName="category" optionLabel="name"
                  optionValue="_id"></p-dropdown>
    </div>

    <div class="form-actions">
      <p-button label="Cancel" styleClass="p-button-link"></p-button>
      <p-button (onClick)="onSubmit()" class="btn-default" label="Save"></p-button>
    </div>
  </form>
</div>
