<div class="shopping-history__container">
  <h2 class="shopping-history__title">Shopping history</h2>
  <div class="shopping-history__content">
    <div class="shopping-history__content_grouped-orders">
      <p class="orders-date">August 2020</p>
      <div class="grouped-orders">
        <div class="order-item">
          <p class="order-item_name">Grocery List</p>
          <div class="order-item_info">
            <i class="pi pi-calendar"></i>
            <p>Mon 27.8.2020</p>
            <span class="status-label canceled">Completed</span>
            <p-button icon="pi pi-angle-right" styleClass="p-button-warning p-button-text" class="details-btn"></p-button>
          </div>
        </div>
      </div>
      <div class="grouped-orders">
        <div class="order-item">
          <p class="order-item_name">Grocery List</p>
          <div class="order-item_info">
            <i class="pi pi-calendar"></i>
            <p>Mon 27.8.2020</p>
            <span class="status-label canceled">Completed</span>
            <p-button icon="pi pi-angle-right" styleClass="p-button-warning p-button-text" class="details-btn"></p-button>
          </div>
        </div>
      </div>
    </div>
    <div class="shopping-history__content_grouped-orders">
      <p class="orders-date">August 2020</p>
      <div class="grouped-orders">
        <div class="order-item">
          <p class="order-item_name">Grocery List</p>
          <div class="order-item_info">
            <i class="pi pi-calendar"></i>
            <p>Mon 27.8.2020</p>
            <span class="status-label canceled">Completed</span>
            <p-button icon="pi pi-angle-right" styleClass="p-button-warning p-button-text" class="details-btn"></p-button>
          </div>
        </div>
        <div class="order-item">
          <p class="order-item_name">Grocery List</p>
          <div class="order-item_info">
            <i class="pi pi-calendar"></i>
            <p>Mon 27.8.2020</p>
            <span class="status-label completed">Completed</span>
            <p-button icon="pi pi-angle-right" styleClass="p-button-warning p-button-text" class="details-btn"></p-button>
          </div>
        </div>
        <div class="order-item">
          <p class="order-item_name">Grocery List</p>
          <div class="order-item_info">
            <i class="pi pi-calendar"></i>
            <p>Mon 27.8.2020</p>
            <span class="status-label canceled">Completed</span>
            <p-button icon="pi pi-angle-right" styleClass="p-button-warning p-button-text" class="details-btn"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
